# Variables de entorno para el frontend (SEGURAS de publicar)
REACT_APP_SUPABASE_URL=https://fagswxnjkcavchfrnrhs.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhZ3N3eG5qa2NhdmNoZnJucmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNTQzMjcsImV4cCI6MjA2MjczMDMyN30.13bSx7s-r9jt7ZmIKOYsqTreAwGxqFB8_c5A1XrQBqc

# URL del backend (se configurará en Vercel)
REACT_APP_BACKEND_URL=https://tu-backend.vercel.app
